<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Add meta tags for mobile and IE -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title> PayPal Smart Payment Buttons Integration | Client Demo </title>
    <style type="text/css">
        .center {
            margin-top: 15%;
            margin-bottom: 15%;
            margin-left: 25%;
            margin-right: 15%;
            width: 50%;
            padding: 10px;
        }
    </style>
</head>

<body>
    <!-- Set up a container element for the button -->
    <div class="center">
        <div id="paypal-button-container"></div>

        <!-- Include the PayPal JavaScript SDK -->
        <script src="https://www.paypal.com/sdk/js?client-id=AcIpp7wdxLLhA0UorSG3ZvENEbV83RmrxA495MtB9iKrFTxMupXtU3Hq_zn_nTAtbnahdPkzOfUje966&currency=USD"></script>

        <script>
            var money = "{{money}}";
            // Render the PayPal button into #paypal-button-container
            paypal.Buttons({

                // Set up the transaction
                createOrder: function (data, actions) {
                    return actions.order.create({
                        purchase_units: [{
                            amount: {
                                value: money
                            }
                        }]
                    });
                },

                // Finalize the transaction
                onApprove: function (data, actions) {
                    return actions.order.capture().then(function (details) {
                        // Show a success message to the buyer
                        alert('Transaction completed by ' + details.payer.name.given_name + '!');
                    });
                }


            }).render('#paypal-button-container');
        </script>
    </div>
</body>

</html>